<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">

    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                {% if page == "home" %}
                    <a class="nav-link active" aria-current="page" href="#">
                {% else %}
                    <a class="nav-link" href="{{ url_for('home') }}">
                {% endif %}
                      Home</a>
                </li>
                <li class="nav-item">
                {% if page == "teams" %}
                    <a class="nav-link active" aria-current="page" href="#">
                {% else %}
                    <a class="nav-link" href="{{ url_for('teams') }}">
                {% endif %}
                  Teams</a>
                </li>
                <li class="nav-item">
                {% if page == "projects" %}
                    <a class="nav-link active" aria-current="page" href="#">
                {% else %}
                    <a class="nav-link" href="{{ url_for('projects') }}">
                {% endif %}
                    Projects</a>
                </li>
              </ul>
            </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>

</body>
</html>